{% extends "base.html" %}

{% block content %}
    
    <div class="row mt-4">
        <div class="col">
            <h1 class="text-center">Add Items</h1>
            <form action="add_todo/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="todo-item">New todo</label>
                    <input id="todo-item" type="text" name="content" class="form-control" aria-describedby="todo item"/>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
    {% if messages %}
                <div class="messages m-4">
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">    
                        <h4 class="alert-heading">Something went wrong...</h4>
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
    <div class="row mt-4">
        <div class="col">
            <ul class="list-group" id="todolist">
                {% if todo_items %}
                <label>List of todo's</label>
                {% for todo_item in todo_items %}
                    <li class="list-group-item">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                            </svg>
                        </span>
                        {{ todo_item.text }}
                        <div class="float-right">
                            <form action="delete_todo/{{ todo_item.id }}/" method="DELETE" >
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
                {% else %}
                    <label class="text-danger">No more todo items</label>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock content%}